
<div class="container mt-5">
    <div class="row mt-5">
      <h1>Building Directory</h1>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Academic Buildings</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <i class="fas fa-map-marker-alt mr-2"></i>ABS Engineering Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Babbio Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Burchard Building<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Carnegie Laboratory<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Davidson Laboratory<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Edwin A. Stevens Hall & DeBaun Auditorium<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Gateway Academic Center / Gianforte Family Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>South Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Kenneth J. Altorfer Academic Complex<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Kidde Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>McLean Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Morton Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Nicoll Environmental Laboratory<br>
              <i class="fas fa-map-marker-alt mr-2"></i>North Building<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Peirce Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Rocco Technology Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Samuel C. Williams Library<br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Administrative Buildings</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <i class="fas fa-map-marker-alt mr-2"></i>1 Ninth Street<br>
              <i class="fas fa-map-marker-alt mr-2"></i>2 Ninth Street<br>
              <i class="fas fa-map-marker-alt mr-2"></i>807 Castle Point Terrace<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Gatehouse<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Griffith Building<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Hoxie House<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Martha Bayard Stevens Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Ruesterholz Admissions Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Student Wellness Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Wesley J. Howe Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>University Center Complex<br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Residence Halls</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <i class="fas fa-map-marker-alt mr-2"></i>600 River Terrace<br>
              <i class="fas fa-map-marker-alt mr-2"></i>602 River Terrace<br>
              <i class="fas fa-map-marker-alt mr-2"></i>604 River Terrace (Gibb House)<br>
              <i class="fas fa-map-marker-alt mr-2"></i>606 River Terrace<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Castle Point Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Davis Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Humphreys Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Jonas Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Lore-El Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Palmer Hall<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Residential Towers / Harries Tower<br>
              <i class="fas fa-map-marker-alt mr-2"></i>South Tower<br>
            </p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Athletic Facilities</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <i class="fas fa-map-marker-alt mr-2"></i>Schaefer Athletic & Recreation Center<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Tennis Office<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Walker Gymnasium<br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Parking Facilities</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <i class="fas fa-map-marker-alt mr-2"></i>8th St Lot<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Babbio Center Garage<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Castle Point Hall Lot<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Howe Center Lot<br>
              <i class="fas fa-map-marker-alt mr-2"></i>North Lot<br>
              <i class="fas fa-map-marker-alt mr-2"></i>River Lot<br>
              <i class="fas fa-map-marker-alt mr-2"></i>Ruesterholz Lots<br>
            </p>
          </div>
        </div>
      </div>

    </div>
</div>
